# Ignore node_modules directory
/node_modules

# Ignore npm-debug.log files
npm-debug.log*

# Ignore .env files that may contain sensitive information
.env

# Ignore log files
*.log

# Ignore build output
/build

# Ignore local configuration files
.vscode/
.idea/

# Ignore OS and editor-specific files
.DS_Store
Thumbs.db
